<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="IDangerous_PhoneOtpVerification" setup_version="1.0.1">
        <sequence>
            <module name="IDangerous_Sms"/>
            <module name="IDangerous_NetgsmIYS"/>
            <module name="Magento_Customer"/>
            <module name="Magento_CustomerGraphQl"/>
            <module name="Magento_GraphQl"/>
        </sequence>
    </module>
</config>